.route-home {
  .header-image-section {
    width: 100%;
    height: 1000px;
    max-height: 80vh;
    min-height: 550px;
    overflow: hidden;
    background: red;
    background-image: url("/images/red-school.jpeg");
    background-size: cover;
    position: relative;

    h1,
    h2 {
      color: white;
      text-shadow: 2px 2px 4px #000000;
    }
    h1 {
      margin-top: 2em;
      margin-left: 1em;
    }
    h2 {
      margin-left: 3em;
      margin-top: -1em;
      font-style: italic;
    }

    .candidate-head {
      min-width: 200px;
      width: 20vw;
      margin-left: 5em;
      margin-top: 1em;
      border-radius: 50%;
    }
    .donation-box {
      background-color: white;
      border: 1px solid steelblue;
      border-radius: 5px;
      padding: 1em;
      margin: 1em;
      width: 20vw;
      min-width: 200px;
      float: right;
      margin-top: 4em;
    }
  }
  .content {
    padding: 1em;
  }
}
